<section class="mx-10 mt-10" id="about">
  <h1 class="text-center font-bold text-4xl justify-center flex">About Us</h1>
  <div
    class="flex flex-col-reverse md:flex-row justify-center mx-15 gap-5 mt-10 items-center"
  >
    <!-- content container -->
    <div
      class="flex-[50%] flex text-white bg-orange-500 rounded-xl text-center"
    >
      <div class="p-8">
        <h2 class="font-bold text-3xl mb-3">What we do?</h2>
        <p class="text-xl">
          The Rooted Rising Initiative seeks to address the environmental and
          socio-economic challenges faced in the world. The initiative aims to
          build a just, inclusive, and sustainable society where everyone can
          thrive and achieve self-actualization.
        </p>
        <br />
        <p class="text-xl">
          Our mission is to ignite awareness, change narratives, educate, and
          inspire action among all stakeholders through various means, such as
          podcasts, multimedia stories, and community engagement, we aim to
          address the pressing issues affecting the world by promoting
          environmental conservation, socio-economic development, and community
          resilience to achieve a just and sustainable society where everyone
          can thrive.
        </p>
        <a href="/about" class="">
          <button
            class="mt-5 cursor-pointer relative group inline-flex items-center px-8 py-2.5 overflow-hidden text-lg font-medium border-2 border-white rounded-lg hover:text-white group hover:bg-transparent"
          >
            <span
              class="absolute left-0 block w-full h-0 transition-all bg-transparent opacity-100 group-hover:h-full top-1/2 group-hover:top-0 duration-400 ease"
            ></span>
            <span
              class="absolute right-0 flex items-center justify-start w-10 h-10 duration-300 transform translate-x-full group-hover:translate-x-0 ease"
            >
              <svg
                class="w-5 h-5"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M14 5l7 7m0 0l-7 7m7-7H3"
                ></path>
              </svg>
            </span>
            <span
              class="relative text-base font-semibold transition-all duration-300 group-hover:-translate-x-3"
              >Read More</span
            >
          </button>
        </a>
      </div>
    </div>
    <!-- image container -->
    <div class="flex-[50%]">
      <div class="gallery">
        <img class="" src="/src/images/about-1.png" alt="about-1" />
        <img class="" src="/src/images/about-2.png" alt="about-2" />
      </div>
    </div>
  </div>
</section>
