<footer class="bg-[#cc7155] text-white text-center py-12 bottom-0 w-full">
  <h2 class="text-3xl font-semibold mb-2">Connect with Us</h2>
  <p class="text-lg">Port Harcourt Rivers State</p>

  <div class="flex justify-center space-x-6 my-6">
    {% for social in site.data.social.social_links %}
    <a
      href="{{ social.url }}"
      target="_blank"
      class="text-white text-2xl hover:text-gray-300"
    >
      <i class="{{ social.icon }}"></i>
    </a>
    {% endfor %}
  </div>

  <p class="text-lg">Keep up with our events on social media</p>
  <p class="text-lg font-bold">@rootedrisinginitiative</p>
</footer>
