<section class="">
  <h1 class="text-center font-bold text-4xl justify-center flex">
    Youtube Engagement
  </h1>
  <div
    class="flex justify-between flex-col gap-8 mx-12 mt-8 md:flex-row items-center"
  >
    <iframe
      class="flex-[50%] w-full h-full md:w-[560] md:h-[450px]"
      src="https://www.youtube.com/embed/dy-baZfnC-c?si=sBh-w1tB-CxJOliP"
      title="Rooted and Rising"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <div class="flex-[50%]">
      <p class="break-words text-xl">
        Catch our interesting conversations around climate change, Gender issues
        and the society on Voice of the Frontline Podcast. In this mobile
        podcast, we counter narratives, educate, and inspire everyone to take
        action.
      </p>
      <a href="https://www.youtube.com/@rootedrising">
        <button
          class="cursor-pointer mt-15 relative inline-flex items-center justify-start px-9 py-4 overflow-hidden font-medium transition-all bg-indigo-100 rounded-lg hover:bg-white group"
        >
          <span
            class="w-48 h-48 rounded rotate-[-40deg] bg-[#CD201F] absolute bottom-0 left-0 -translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"
          ></span>
          <span
            class="text-[20px] relative w-full font-semibold text-left text-black transition-colors duration-300 ease-in-out group-hover:text-white"
            ><span class="flex gap-2 items-baseline"
              ><i class="fab fa-youtube"></i> Join Us</span
            ></span
          >
        </button>
      </a>
    </div>
  </div>
</section>
